h1{
    border-style: solid;
    border-color: rgb(43, 43, 43);
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: white;
    background-color: rgb(43, 43, 43);
    padding: 10px;
}

div{
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: auto;
    height: auto;
}

h2{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

button{
    border-style: solid;
    border-color: rgb(43, 43, 43);
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: white;
    background-color: rgb(43, 43, 43);
    padding: 10px;
}